body {
  margin: 0;
}

pre, code {
  background: #f5f5f5;
  border-radius: 0;
  border-color: #d8d8d8;
  margin: 0;
}

code {
  padding: .2rem .4rem;
  font-size: 90%;
  color: #bd4147;
  background-color: #f7f7f9;
  border-radius: .25rem;
}

.docs-header {
  height: 64px;
  background-color: #C2185B;
  color: white;
}

.docs-header__nav {
  max-width: 1200px;
  margin: 0 auto;
}

.docs-header__nav .link {
  text-decoration: none;
  color: white;
  margin-right: 5px;
  line-height: 64px;
  vertical-align: middle;
}

.docs-home {
  min-height: 1000px;
}

.docs-main {
  display: flex;
}

.docs-nav {
  width: 200px;
  display: inline-block;
  padding-top: 10px;
  background-color: white;
  border-right: 1px solid lightgray;
}

.docs-nav > li {
  list-style: none;
  padding: 8px 10px;
}

.docs-nav > li a {
  text-decoration: none;
}

.docs-page {
  background-color: #FAFAFA;
  display: inline-block;
  vertical-align: top;
  padding: 20px 30px;
  width: 100%;
}

.docs-page__title {
  padding: 10px 0;
}
.docs-page__title h2 {
  margin: 0;
  text-transform: uppercase;
}

.docs-page__title p {
  margin: 16px 0;
}

.docs-inline {
  display: inline-block;
  padding: 5px 10px;

}



:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822;
}

/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript+bash+jsx */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 1.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822;
}

:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

code .tag {
  font-size: inherit;
  padding: 0;
  display: inherit;
}
