.rmd-slider__container {
  cursor: default;
  height: 18px;
  width: 100%;
  position: relative;
  display: flex;
}

.rmd-slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2px;
  width: 100%;
  outline: 0;
  color: #3f51b5;
  cursor: pointer;
  align-self: center;
}

.rmd-slider__background {
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  overflow: hidden;
  border: 0;
  padding: 0;
  display: flex;
  background: 0 0;
}

.rmd-slider__background-left {
  position: relative;
  border: 0;
  padding: 0;
  background: #3f51b5;
  flex: 0;
}

.rmd-slider__background-right {
  position: relative;
  border: 0;
  padding: 0;
  background: rgba(0,0,0,.26);
  flex: 100;
}


