.rmd-slider__container {
  cursor: default;
  height: 12px;
  width: 100%;
  position: relative;
}

.rmd-slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  margin:0;
  height: 5px;
  width: 100%;
  outline: 0;
  color: #3f51b5;
  cursor: pointer;
  align-self: center;
  background: 0 0;
  z-index: 1;
  &::-webkit-slider-thumb {
    background: #3f51b5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    cursor: pointer;
  }
  &.auto-hide {
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 0;
      height: 0;
    }
    &:hover::-webkit-slider-thumb {
      width: 12px;
      height: 12px;
    }
  }
}

.rmd-slider__background {
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  overflow: hidden;
  border: 0;
  padding: 0;
  display: flex;
  background: 0 0;
}

.rmd-slider__background-left {
  position: relative;
  border: 0;
  padding: 0;
  background: #3f51b5;
  flex: 0;
}

.rmd-slider__background-right {
  position: relative;
  border: 0;
  padding: 0;
  background: rgba(0,0,0,.26);
  flex: 100;
}
