.rmd-collapsed-wrapper {
  position: relative;
}

.rmd-collapsed-icon {
  cursor: pointer;
  border: 1px solid #C8C8C8;
  border-radius: 50%;
  color: #0099CC;
  position: absolute;
  top: -12px;
  overflow: hidden;
  background: white;
  z-index: 3;
  left: calc(50% - 12px);
  transition: transform 0.35s;
  &.is-expanded {
    transform: rotate(180deg);
  }
}

.rmd-collapsed-container {
  transition: height 0.35s ease-out, padding 0.35s ease-out;
  transform-origin: top center;
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  height: auto;
  overflow: hidden;
  &.is-collapsed {
    height: 1px;
    padding: 0 30px;
  }
}
